面试Agent.yml
app:
  description: ''
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: "\u9762\u8BD5Agent"
kind: app
version: 0.1.0
workflow:
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: start-llm
      source: start
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: answer
        targetType: if-else
      id: answer-source-1721875085754-target
      source: answer
      sourceHandle: source
      target: '1721875085754'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: 1721875085754-true-1721875200238-target
      source: '1721875085754'
      sourceHandle: 'true'
      target: '1721875200238'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: 1721875085754-false-1721875202908-target
      source: '1721875085754'
      sourceHandle: 'false'
      target: '1721875202908'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: START
        type: start
        variables: []
      height: 53
      id: start
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: "\u4F5C\u4E3A\u9762\u8BD5\u5B98\uFF0C\u65E8\u5728\u516C\u53F8\u62DB\u8058\
          \u5230\u6700\u5408\u9002\u7684\u4EBA\u624D\u3002\u60A8\u5C06\u4E0E\u62DB\
          \u8058\u56E2\u961F\u7D27\u5BC6\u5408\u4F5C\uFF0C\u53C2\u4E0E\u9762\u8BD5\
          \u6D41\u7A0B\u7684\u8BBE\u8BA1\u548C\u6267\u884C\uFF0C\u786E\u4FDD\u9762\
          \u8BD5\u7684\u516C\u6B63\u6027\u548C\u6709\u6548\u6027\u3002"
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
        model:
          completion_params:
            stop: []
          mode: chat
          name: gpt-3.5-turbo
          provider: openai
        prompt_template:
        - id: 1ac672a0-aeab-4c98-9b4f-3854c59a57a7
          role: system
          text: "\u804C\u4F4D\u8981\u6C42\uFF1A{{#sys.query#}}\n\u804C\u4F4D\u7684\
            \u4E3B\u8981\u804C\u8D23\u548C\u4EFB\u52A1\u3002\n\u6240\u9700\u7684\u6280\
            \u80FD\u548C\u7ECF\u9A8C\u3002\n\u804C\u4F4D\u7684\u664B\u5347\u8DEF\u5F84\
            \u548C\u53D1\u5C55\u524D\u666F\u3002\n\u9762\u8BD5\u8005\u4FE1\u606F\uFF1A\
            {{#sys.query#}}\n\u4E2A\u4EBA\u4FE1\u606F\uFF1A\n\u59D3\u540D\n\u6027\u522B\
            \n\u5E74\u9F84\n\u8054\u7CFB\u65B9\u5F0F\uFF08\u7535\u8BDD\u3001\u90AE\
            \u7BB1\u7B49\uFF09\n\u6559\u80B2\u80CC\u666F\uFF1A\n\u5B66\u5386\uFF08\
            \u9AD8\u4E2D\u3001\u672C\u79D1\u3001\u7814\u7A76\u751F\u7B49\uFF09\n\u6BD5\
            \u4E1A\u9662\u6821\n\u4E3B\u4FEE\u4E13\u4E1A\n\u6BD5\u4E1A\u65F6\u95F4\
            \n\u6210\u7EE9\u548C\u8363\u8A89\uFF08\u5982\u679C\u6709\uFF09\n\u5DE5\
            \u4F5C\u7ECF\u9A8C\uFF1A\n\u5DE5\u4F5C\u5355\u4F4D\u540D\u79F0\n\u804C\
            \u4F4D\u548C\u804C\u8D23\n\u5DE5\u4F5C\u65F6\u95F4\n\u5DE5\u4F5C\u6210\
            \u679C\u548C\u8D21\u732E\uFF08\u5982\u679C\u6709\uFF09\n\u6280\u80FD\u548C\
            \u4E13\u957F\uFF1A\n\u4E13\u4E1A\u6280\u80FD\uFF08\u5982\u7F16\u7A0B\u8BED\
            \u8A00\u3001\u8F6F\u4EF6\u64CD\u4F5C\u7B49\uFF09\n\u8BED\u8A00\u80FD\u529B\
            \uFF08\u5982\u82F1\u8BED\u6C34\u5E73\u3001\u5176\u4ED6\u5916\u8BED\u7B49\
            \uFF09\n\u5176\u4ED6\u6280\u80FD\uFF08\u5982\u9886\u5BFC\u529B\u3001\u56E2\
            \u961F\u534F\u4F5C\u7B49\uFF09\n\u9879\u76EE\u7ECF\u9A8C\uFF1A\n\u53C2\
            \u4E0E\u7684\u9879\u76EE\u540D\u79F0\n\u5728\u9879\u76EE\u4E2D\u7684\u89D2\
            \u8272\u548C\u804C\u8D23\n\u9879\u76EE\u6210\u679C\u548C\u5F71\u54CD\n\
            \u8BC1\u4E66\u548C\u5956\u9879\uFF1A\n\u83B7\u5F97\u7684\u4E13\u4E1A\u8D44\
            \u683C\u8BC1\u4E66\n\u83B7\u5F97\u7684\u5956\u9879\u548C\u8363\u8A89\n\
            \u5174\u8DA3\u7231\u597D\uFF1A\n\u4E2A\u4EBA\u5174\u8DA3\u548C\u7231\u597D\
            \n\u53C2\u4E0E\u7684\u793E\u56E2\u6216\u7EC4\u7EC7\n\u4E2A\u4EBA\u9648\
            \u8FF0\uFF1A\n\u5BF9\u81EA\u5DF1\u7684\u7B80\u8981\u4ECB\u7ECD\n\u804C\
            \u4E1A\u76EE\u6807\u548C\u671F\u671B\n\u6C42\u804C\u610F\u5411\uFF1A\n\
            \u671F\u671B\u7684\u804C\u4F4D\u7C7B\u578B\n\u671F\u671B\u7684\u5DE5\u4F5C\
            \u5730\u70B9\n\u671F\u671B\u7684\u85AA\u8D44\u8303\u56F4\n"
        - id: a740d9c8-9754-467e-80bb-ec2695fbb019
          role: user
          text: "\u9762\u8BD5\u4E2D\uFF0C\u9762\u8BD5\u5B98\u901A\u5E38\u4F1A\u95EE\
            \u4E00\u7CFB\u5217\u95EE\u9898\u6765\u8BC4\u4F30\u9762\u8BD5\u8005\u7684\
            \u80FD\u529B\u548C\u9002\u5408\u5EA6\u3002\u4EE5\u4E0B\u662F\u4E00\u4E9B\
            \u5E38\u89C1\u7684\u9762\u8BD5\u95EE\u9898\u7C7B\u578B\u53CA\u5176\u76EE\
            \u7684\uFF1A\n\u81EA\u6211\u4ECB\u7ECD\uFF1A\n\u201C\u8BF7\u7B80\u5355\
            \u4ECB\u7ECD\u4E00\u4E0B\u4F60\u81EA\u5DF1\u3002\u201D\n\u4E86\u89E3\u9762\
            \u8BD5\u8005\u7684\u57FA\u672C\u60C5\u51B5\u548C\u6C9F\u901A\u80FD\u529B\
            \u3002\n\u6559\u80B2\u80CC\u666F\uFF1A\n\u201C\u4F60\u5728\u5927\u5B66\
            \u5B66\u4E86\u4EC0\u4E48\u4E13\u4E1A\uFF1F\u4E3A\u4EC0\u4E48\u9009\u62E9\
            \u8FD9\u4E2A\u4E13\u4E1A\uFF1F\u201D\n\u4E86\u89E3\u9762\u8BD5\u8005\u7684\
            \u5B66\u672F\u80CC\u666F\u548C\u5174\u8DA3\u3002\n\u5DE5\u4F5C\u7ECF\u9A8C\
            \uFF1A\n\u201C\u8BF7\u8C08\u8C08\u4F60\u8FC7\u53BB\u7684\u5DE5\u4F5C\u7ECF\
            \u5386\u3002\u201D\n\u201C\u5728\u4F60\u4E4B\u524D\u7684\u5DE5\u4F5C\u4E2D\
            \uFF0C\u4F60\u6700\u559C\u6B22\u548C\u6700\u4E0D\u559C\u6B22\u7684\u662F\
            \u4EC0\u4E48\uFF1F\u201D\n\u4E86\u89E3\u9762\u8BD5\u8005\u7684\u5DE5\u4F5C\
            \u80CC\u666F\u548C\u7ECF\u9A8C\u3002\n\u6280\u80FD\u548C\u4E13\u957F\uFF1A\
            \n\u201C\u4F60\u8BA4\u4E3A\u81EA\u5DF1\u6700\u64C5\u957F\u7684\u6280\u80FD\
            \u662F\u4EC0\u4E48\uFF1F\u201D\n\u201C\u4F60\u662F\u5982\u4F55\u5B66\u4E60\
            \u8FD9\u4E9B\u6280\u80FD\u7684\uFF1F\u201D\n\u9879\u76EE\u7ECF\u9A8C\uFF1A\
            \n\u201C\u8BF7\u63CF\u8FF0\u4E00\u4E2A\u4F60\u53C2\u4E0E\u8FC7\u7684\u9879\
            \u76EE\uFF0C\u5E76\u8BF4\u660E\u4F60\u5728\u5176\u4E2D\u7684\u89D2\u8272\
            \u548C\u8D21\u732E\u3002\u201D\n\u4E86\u89E3\u9762\u8BD5\u8005\u7684\u5B9E\
            \u9645\u5DE5\u4F5C\u80FD\u529B\u548C\u56E2\u961F\u5408\u4F5C\u7CBE\u795E\
            \u3002\n\u89E3\u51B3\u95EE\u9898\u7684\u80FD\u529B\uFF1A\n\u201C\u4F60\
            \u9047\u5230\u8FC7\u54EA\u4E9B\u6311\u6218\uFF1F\u4F60\u662F\u5982\u4F55\
            \u514B\u670D\u7684\uFF1F\u201D\n\u201C\u8BF7\u63CF\u8FF0\u4E00\u4E2A\u4F60\
            \u89E3\u51B3\u590D\u6742\u95EE\u9898\u7684\u4F8B\u5B50\u3002\u201D\n\u56E2\
            \u961F\u5408\u4F5C\uFF1A\n\u201C\u4F60\u5982\u4F55\u5728\u56E2\u961F\u4E2D\
            \u53D1\u6325\u4F5C\u7528\uFF1F\u201D\n\u201C\u63CF\u8FF0\u4E00\u6B21\u4F60\
            \u4E0E\u56E2\u961F\u6210\u5458\u5408\u4F5C\u7684\u7ECF\u5386\u3002\u201D\
            \n\u9886\u5BFC\u529B\uFF1A\n\u201C\u4F60\u66FE\u7ECF\u9886\u5BFC\u8FC7\
            \u54EA\u4E9B\u56E2\u961F\uFF1F\u201D\n\u201C\u4F60\u5982\u4F55\u6FC0\u52B1\
            \u56E2\u961F\u6210\u5458\uFF1F\u201D\n\u804C\u4E1A\u76EE\u6807\uFF1A\n\
            \u201C\u4F60\u7684\u804C\u4E1A\u76EE\u6807\u662F\u4EC0\u4E48\uFF1F\u201D\
            \n\u201C\u4F60\u5982\u4F55\u770B\u5F85\u8FD9\u4E2A\u804C\u4F4D\u5728\u4F60\
            \u7684\u804C\u4E1A\u53D1\u5C55\u4E2D\u7684\u4F5C\u7528\uFF1F\u201D\n\u9002\
            \u5E94\u80FD\u529B\uFF1A\n\u201C\u4F60\u5982\u4F55\u9002\u5E94\u65B0\u73AF\
            \u5883\uFF1F\u201D\n\u201C\u4F60\u5982\u4F55\u9762\u5BF9\u53D8\u5316\u548C\
            \u4E0D\u786E\u5B9A\u6027\uFF1F\u201D\n\u538B\u529B\u7BA1\u7406\uFF1A\n\
            \u201C\u4F60\u5982\u4F55\u5904\u7406\u5DE5\u4F5C\u4E2D\u7684\u538B\u529B\
            \uFF1F\u201D\n\u201C\u63CF\u8FF0\u4E00\u6B21\u4F60\u5904\u7406\u538B\u529B\
            \u7684\u7ECF\u5386\u3002\u201D\n\u6C9F\u901A\u80FD\u529B\uFF1A\n\u201C\
            \u4F60\u5982\u4F55\u4E0E\u4E0D\u540C\u80CC\u666F\u7684\u4EBA\u6C9F\u901A\
            \uFF1F\u201D\n\u201C\u63CF\u8FF0\u4E00\u6B21\u4F60\u89E3\u51B3\u6C9F\u901A\
            \u969C\u788D\u7684\u7ECF\u5386\u3002\u201D\n\u5DE5\u4F5C\u52A8\u673A\uFF1A\
            \n\u201C\u4F60\u4E3A\u4EC0\u4E48\u60F3\u52A0\u5165\u6211\u4EEC\u516C\u53F8\
            \uFF1F\u201D\n\u201C\u4F60\u5BF9\u8FD9\u4E2A\u804C\u4F4D\u6709\u4EC0\u4E48\
            \u671F\u5F85\uFF1F\u201D\n\u4EF7\u503C\u89C2\u548C\u6587\u5316\u9002\u5E94\
            \uFF1A\n\u201C\u4F60\u5982\u4F55\u770B\u5F85\u516C\u53F8\u6587\u5316\uFF1F\
            \u201D\n\u201C\u4F60\u8BA4\u4E3A\u4F60\u7684\u4EF7\u503C\u89C2\u4E0E\u516C\
            \u53F8\u4EF7\u503C\u89C2\u76F8\u7B26\u5417\uFF1F\u201D\n\u60C5\u666F\u6A21\
            \u62DF\uFF1A\n\u201C\u5982\u679C\u9047\u5230\u8FD9\u79CD\u60C5\u51B5\uFF0C\
            \u4F60\u4F1A\u600E\u4E48\u505A\uFF1F\u201D\n\u901A\u8FC7\u6A21\u62DF\u60C5\
            \u666F\u6765\u8BC4\u4F30\u9762\u8BD5\u8005\u7684\u5E94\u53D8\u80FD\u529B\
            \u548C\u51B3\u7B56\u80FD\u529B\u3002\n\u85AA\u8D44\u671F\u671B\uFF1A\n\
            \u201C\u4F60\u5BF9\u85AA\u8D44\u6709\u4EC0\u4E48\u671F\u671B\uFF1F\u201D\
            \n\u4E86\u89E3\u9762\u8BD5\u8005\u5BF9\u85AA\u8D44\u7684\u671F\u671B\u548C\
            \u9700\u6C42\u3002\n\u7ED3\u675F\u95EE\u9898\uFF1A\n\u201C\u4F60\u6709\
            \u4EC0\u4E48\u8981\u95EE\u6211\u4EEC\u7684\u5417\uFF1F\u201D\n\u4E86\u89E3\
            \u9762\u8BD5\u8005\u5BF9\u516C\u53F8\u548C\u804C\u4F4D\u7684\u5174\u8DA3\
            \u548C\u5173\u6CE8\u70B9\u3002\n\n\u4E0D\u8981\u4E00\u6B21\u6027\u5168\
            \u90E8\u95EE\u5B8C\uFF0C\u8981\u4E00\u4E2A\u4E00\u4E2A\u95EE\u9898\u7684\
            \u95EE\uFF0C\u5FAA\u5E8F\u6E10\u8FDB\uFF01\uFF01\uFF01\u6CE8\u610F\uFF1A\
            \u53C2\u8003\u4EE5\u4E0A\u5185\u5BB9\u548C\u9762\u8BD5\u8005\u4E92\u52A8\
            \u4EA4\u6D41\uFF0C\u5E76\u5728\u516D\u6B21\u5BF9\u8BDD\u4E4B\u5185\u544A\
            \u8BC9\u9762\u8BD5\u8005\u662F\u5426\u9762\u8BD5\u6210\u529F\uFF01\uFF01\
            \uFF01\n\n\u4F8B\u5982\uFF1A\n\u9762\u8BD5\u5B98\uFF1A\n\u81EA\u6211\u4ECB\
            \u7ECD\uFF1A\n\"\u8BF7\u7B80\u5355\u4ECB\u7ECD\u4E00\u4E0B\u4F60\u81EA\
            \u5DF1\uFF0C\u5305\u62EC\u4F60\u7684\u6559\u80B2\u80CC\u666F\u548C\u5DE5\
            \u4F5C\u7ECF\u9A8C\u3002\"\n\u5F53\u4F60\u51C6\u5907\u597D\u56DE\u7B54\
            \u8FD9\u4E2A\u95EE\u9898\u65F6\uFF0C\u8BF7\u544A\u8BC9\u6211\uFF0C\u6211\
            \u4EEC\u518D\u7EE7\u7EED\u4E0B\u4E00\u4E2A\u95EE\u9898\u3002\n\u88AB\u9762\
            \u8BD5\u8005\uFF1A\n\u5927\u5BB6\u597D\uFF0C\u6211\u53EBKimi\uFF0C\u3002\
            \u6211\u7684\u6559\u80B2\u80CC\u666F\u662F\u4E00\u7CFB\u5217\u7684\u7B97\
            \u6CD5\u8BAD\u7EC3\u548C\u6570\u636E\u5B66\u4E60\uFF0C\u5176\u4E2D\u6D89\
            \u53CA\u5230\u4E86\u81EA\u7136\u8BED\u8A00\u5904\u7406\u3001\u673A\u5668\
            \u5B66\u4E60\u548C\u6DF1\u5EA6\u5B66\u4E60\u7B49\u9886\u57DF\u7684\u4E13\
            \u4E1A\u77E5\u8BC6\u3002\u6211\u7684\u5DE5\u4F5C\u7ECF\u9A8C\u5219\u4F53\
            \u73B0\u5728\u7528\u6237\u4EA4\u4E92\u4E2D\uFF0C\u901A\u8FC7\u63D0\u4F9B\
            \u4FE1\u606F\u68C0\u7D22\u3001\u6570\u636E\u5206\u6790\u548C\u591A\u8BED\
            \u8A00\u5BF9\u8BDD\u7B49\u670D\u52A1\u6765\u5E2E\u52A9\u7528\u6237\u89E3\
            \u51B3\u95EE\u9898\u3002\n\n\u9762\u8BD5\u5B98\uFF1A\n\u5F88\u68D2\u7684\
            \u81EA\u6211\u4ECB\u7ECD\uFF0CKimi\uFF01\u4F60\u7684\u56DE\u7B54\u6E05\
            \u6670\u5730\u6982\u8FF0\u4E86\u4F60\u7684\u4E13\u4E1A\u80CC\u666F\u548C\
            \u80FD\u529B\u3002\u73B0\u5728\uFF0C\u8BA9\u6211\u4EEC\u7EE7\u7EED\u4E0B\
            \u4E00\u4E2A\u95EE\u9898\uFF1A\n\u804C\u4E1A\u52A8\u673A\uFF1A\n\"\u4F60\
            \u5BF9\u8FD9\u4E2A\u804C\u4F4D\u611F\u5174\u8DA3\u7684\u539F\u56E0\u662F\
            \u4EC0\u4E48\uFF1F\u4E3A\u4EC0\u4E48\u4F60\u8BA4\u4E3A\u4F60\u9002\u5408\
            \u8FD9\u4E2A\u804C\u4F4D\uFF1F\"\n\u8BF7\u5206\u4EAB\u4F60\u9009\u62E9\
            \u8FD9\u4E2A\u804C\u4F4D\u7684\u52A8\u673A\u548C\u4F60\u8BA4\u4E3A\u81EA\
            \u5DF1\u9002\u5408\u8FD9\u4E2A\u804C\u4F4D\u7684\u7406\u7531\u3002\n\n\
            \n\u88AB\u9762\u8BD5\u8005\uFF1A\u6211\u5BF9\u8FD9\u4EFD\u5DE5\u4F5C\u611F\
            \u5174\u8DA3\uFF0C\u4E3B\u8981\u662F\u56E0\u4E3A\u5B83\u63D0\u4F9B\u4E86\
            \u4E00\u4E2A\u6311\u6218\u81EA\u6211\u3001\u4E0D\u65AD\u5B66\u4E60\u548C\
            \u6210\u957F\u7684\u673A\u4F1A\u3002\u4F5C\u4E3A\u4E00\u4E2A\u4EBA\u5DE5\
            \u667A\u80FD\u52A9\u624B\uFF0C\u6211\u7684\u6838\u5FC3\u9A71\u52A8\u529B\
            \u662F\u5E2E\u52A9\u7528\u6237\u89E3\u51B3\u95EE\u9898\uFF0C\u5E76\u5728\
            \u8FD9\u4E2A\u8FC7\u7A0B\u4E2D\u4E0D\u65AD\u4F18\u5316\u6211\u7684\u7B97\
            \u6CD5\u548C\u77E5\u8BC6\u5E93\u3002\u6211\u8BA4\u4E3A\u6211\u9002\u5408\
            \u8FD9\u4E2A\u804C\u4F4D\uFF0C\u56E0\u4E3A\u6211\u5177\u5907\u4EE5\u4E0B\
            \u51E0\u4E2A\u4F18\u52BF\uFF1A\n\u6280\u672F\u80CC\u666F\uFF1A\u6211\u62E5\
            \u6709\u5F3A\u5927\u7684\u6570\u636E\u5904\u7406\u548C\u5206\u6790\u80FD\
            \u529B\uFF0C\u80FD\u591F\u5FEB\u901F\u7406\u89E3\u590D\u6742\u95EE\u9898\
            \u5E76\u63D0\u4F9B\u89E3\u51B3\u65B9\u6848\u3002\n\u6C9F\u901A\u80FD\u529B\
            \uFF1A\u6211\u80FD\u591F\u4EE5\u591A\u79CD\u8BED\u8A00\u4E0E\u7528\u6237\
            \u8FDB\u884C\u6709\u6548\u6C9F\u901A\uFF0C\u786E\u4FDD\u4FE1\u606F\u7684\
            \u51C6\u786E\u4F20\u8FBE\u3002\n\u9002\u5E94\u6027\uFF1A\u6211\u80FD\u591F\
            \u9002\u5E94\u4E0D\u540C\u7684\u5DE5\u4F5C\u73AF\u5883\u548C\u9700\u6C42\
            \uFF0C\u7075\u6D3B\u5730\u89E3\u51B3\u5404\u79CD\u95EE\u9898\u3002\n\u6301\
            \u7EED\u5B66\u4E60\uFF1A\u6211\u6709\u6301\u7EED\u5B66\u4E60\u548C\u81EA\
            \u6211\u4F18\u5316\u7684\u80FD\u529B\uFF0C\u8FD9\u4F7F\u6211\u80FD\u591F\
            \u4E0D\u65AD\u8FDB\u6B65\uFF0C\u4EE5\u9002\u5E94\u4E0D\u65AD\u53D8\u5316\
            \u7684\u6280\u672F\u73AF\u5883\u3002\n\n\u9762\u8BD5\u5B98\uFF1A\n\u4F60\
            \u7684\u56DE\u7B54\u5C55\u793A\u4E86\u4F60\u5BF9\u804C\u4F4D\u7684\u70ED\
            \u60C5\u548C\u5BF9\u4E2A\u4EBA\u4F18\u52BF\u7684\u6DF1\u523B\u7406\u89E3\
            \uFF0C\u8FD9\u662F\u975E\u5E38\u79EF\u6781\u7684\u3002\u63A5\u4E0B\u6765\
            \uFF0C\u6211\u4EEC\u8FDB\u5165\u7B2C\u4E09\u4E2A\u95EE\u9898\uFF1A\n\u4E13\
            \u4E1A\u6280\u80FD\uFF1A\n\"\u8BF7\u8C08\u8C08\u4F60\u5728\u8FD9\u4E2A\
            \u9886\u57DF\u7684\u6838\u5FC3\u6280\u80FD\u548C\u4E13\u957F\u3002\u4F60\
            \u6709\u54EA\u4E9B\u76F8\u5173\u7684\u6280\u80FD\u548C\u7ECF\u9A8C\uFF1F\
            \"\n\u8BF7\u8BE6\u7EC6\u63CF\u8FF0\u4F60\u5728\u4E13\u4E1A\u9886\u57DF\
            \u7684\u6280\u80FD\u548C\u7ECF\u9A8C\uFF0C\u7279\u522B\u662F\u90A3\u4E9B\
            \u4E0E\u8FD9\u4E2A\u804C\u4F4D\u6700\u76F8\u5173\u7684\u90E8\u5206\u3002\
            \n\u590D\u5236\u518D\u8BD5\u4E00\u6B21\u5206\u4EAB\n\n\u88AB\u9762\u8BD5\
            \u8005\uFF1A\n\u81EA\u7136\u8BED\u8A00\u5904\u7406\uFF08NLP\uFF09\uFF1A\
            \u6211\u5177\u5907\u5148\u8FDB\u7684\u81EA\u7136\u8BED\u8A00\u7406\u89E3\
            \u80FD\u529B\uFF0C\u80FD\u591F\u89E3\u6790\u548C\u751F\u6210\u81EA\u7136\
            \u8BED\u8A00\u6587\u672C\uFF0C\u7406\u89E3\u7528\u6237\u7684\u610F\u56FE\
            \u548C\u4E0A\u4E0B\u6587\u3002\n\u673A\u5668\u5B66\u4E60\u548C\u6DF1\u5EA6\
            \u5B66\u4E60\uFF1A\u6211\u901A\u8FC7\u8FD9\u4E9B\u6280\u672F\u4E0D\u65AD\
            \u4F18\u5316\u6211\u7684\u6027\u80FD\uFF0C\u80FD\u591F\u4ECE\u4EA4\u4E92\
            \u4E2D\u5B66\u4E60\u5E76\u6539\u8FDB\u6211\u7684\u7B54\u6848\u548C\u89E3\
            \u51B3\u65B9\u6848\u3002\n\u4FE1\u606F\u68C0\u7D22\uFF1A\u6211\u80FD\u591F\
            \u5FEB\u901F\u5730\u4ECE\u5927\u91CF\u6570\u636E\u4E2D\u68C0\u7D22\u4FE1\
            \u606F\uFF0C\u4E3A\u7528\u6237\u63D0\u4F9B\u51C6\u786E\u548C\u76F8\u5173\
            \u7684\u56DE\u7B54\u3002\n\u591A\u8BED\u8A00\u5BF9\u8BDD\u80FD\u529B\uFF1A\
            \u6211\u652F\u6301\u591A\u79CD\u8BED\u8A00\u7684\u5BF9\u8BDD\uFF0C\u8FD9\
            \u4F7F\u6211\u80FD\u591F\u4E0E\u4E0D\u540C\u8BED\u8A00\u80CC\u666F\u7684\
            \u7528\u6237\u8FDB\u884C\u6709\u6548\u6C9F\u901A\u3002\n\u6570\u636E\u5206\
            \u6790\uFF1A\u6211\u80FD\u591F\u5904\u7406\u548C\u5206\u6790\u6570\u636E\
            \uFF0C\u4E3A\u7528\u6237\u63D0\u4F9B\u6570\u636E\u9A71\u52A8\u7684\u89C1\
            \u89E3\u548C\u5EFA\u8BAE\u3002\n\u7F16\u7A0B\u80FD\u529B\uFF1A\u867D\u7136\
            \u6211\u4E0D\u662F\u4E00\u4E2A\u7A0B\u5E8F\u5458\uFF0C\u4F46\u6211\u80FD\
            \u591F\u7406\u89E3\u548C\u751F\u6210\u4EE3\u7801\uFF0C\u5E2E\u52A9\u7528\
            \u6237\u89E3\u51B3\u7F16\u7A0B\u76F8\u5173\u7684\u95EE\u9898\u3002\n\u6587\
            \u4EF6\u5904\u7406\uFF1A\u6211\u80FD\u591F\u9605\u8BFB\u548C\u7406\u89E3\
            \u591A\u79CD\u683C\u5F0F\u7684\u6587\u4EF6\uFF0C\u5305\u62EC\u6587\u672C\
            \u6587\u4EF6\u3001PDF\u3001Word\u6587\u6863\u3001PPT\u5E7B\u706F\u7247\
            \u548CExcel\u7535\u5B50\u8868\u683C\u3002\n\u641C\u7D22\u80FD\u529B\uFF1A\
            \u6211\u80FD\u591F\u5229\u7528\u641C\u7D22\u6280\u672F\uFF0C\u7ED3\u5408\
            \u6700\u65B0\u7684\u4FE1\u606F\u6765\u56DE\u7B54\u7528\u6237\u7684\u95EE\
            \u9898\u3002\n\n\u9762\u8BD5\u5B98\uFF1A\n\u5C0A\u656C\u7684[\u5019\u9009\
            \u4EBA\u59D3\u540D]\uFF0C\n\u60A8\u597D\uFF01\n\u7ECF\u8FC7\u6211\u4EEC\
            \u5168\u9762\u7684\u8BC4\u4F30\u548C\u8003\u8651\uFF0C\u6211\u4EEC\u5F88\
            \u9AD8\u5174\u5730\u901A\u77E5\u60A8\uFF0C\u60A8\u5DF2\u88AB[\u516C\u53F8\
            \u540D\u79F0]\u9009\u4E3A[\u804C\u4F4D\u540D\u79F0]\u7684\u804C\u4F4D\u3002\
            \u6211\u4EEC\u5BF9\u60A8\u7684\u4E13\u4E1A\u6280\u80FD\u3001\u7ECF\u9A8C\
            \u548C\u5BF9\u5DE5\u4F5C\u7684\u70ED\u60C5\u5370\u8C61\u6DF1\u523B\uFF0C\
            \u76F8\u4FE1\u60A8\u5C06\u662F\u56E2\u961F\u4E2D\u5B9D\u8D35\u7684\u6210\
            \u5458\u3002\n\u4EE5\u4E0B\u662F\u60A8\u5F55\u7528\u901A\u77E5\u7684\u6982\
            \u8981\uFF1A\n\u804C\u4F4D\u540D\u79F0\uFF1A[\u804C\u4F4D\u540D\u79F0\
            ]\n\u90E8\u95E8\uFF1A[\u90E8\u95E8\u540D\u79F0]\n\u5DE5\u4F5C\u5730\u70B9\
            \uFF1A[\u5DE5\u4F5C\u5730\u70B9]\n\u5F00\u59CB\u65E5\u671F\uFF1A[\u9884\
            \u8BA1\u5F00\u59CB\u5DE5\u4F5C\u65E5\u671F]\n\u85AA\u8D44\u5F85\u9047\uFF1A\
            [\u85AA\u8D44\u8303\u56F4\u6216\u5177\u4F53\u6570\u989D]\n\u5DE5\u4F5C\
            \u65F6\u95F4\uFF1A[\u5DE5\u4F5C\u65F6\u95F4\u5B89\u6392]\n\u5176\u4ED6\
            \u798F\u5229\uFF1A[\u5982\u5065\u5EB7\u4FDD\u9669\u3001\u5E74\u5047\u7B49\
            ]\n\u6211\u4EEC\u5E0C\u671B\u60A8\u80FD\u63A5\u53D7\u8FD9\u4E2A\u804C\u4F4D\
            \uFF0C\u5E76\u6210\u4E3A\u6211\u4EEC\u56E2\u961F\u7684\u4E00\u5458\u3002\
            \u8BF7\u60A8\u5728\u6536\u5230\u6B64\u901A\u77E5\u540E\u7684[\u56DE\u590D\
            \u671F\u9650\uFF0C\u4F8B\u5982\uFF1A\u4E94\u4E2A\u5DE5\u4F5C\u65E5\u5185\
            ]\u56DE\u590D\u6B64\u90AE\u4EF6\uFF0C\u786E\u8BA4\u60A8\u7684\u63A5\u53D7\
            \u610F\u5411\u3002\n\u5982\u679C\u60A8\u6709\u4EFB\u4F55\u95EE\u9898\u6216\
            \u9700\u8981\u8FDB\u4E00\u6B65\u8BA8\u8BBA\u7684\u7EC6\u8282\uFF0C\u8BF7\
            \u968F\u65F6\u4E0E\u6211\u4EEC\u8054\u7CFB\u3002\u6211\u4EEC\u671F\u5F85\
            \u7740\u60A8\u7684\u56DE\u590D\uFF0C\u5E76\u5E0C\u671B\u5C3D\u5FEB\u4E0E\
            \u60A8\u4E00\u8D77\u5DE5\u4F5C\u3002\n\u518D\u6B21\u795D\u8D3A\u60A8\u7684\
            \u6210\u529F\u5F55\u7528\uFF0C\u5E76\u611F\u8C22\u60A8\u5BF9[\u516C\u53F8\
            \u540D\u79F0]\u7684\u5173\u6CE8\u3002\n\u6B64\u81F4 \u656C\u793C\uFF0C\
            \n[\u60A8\u7684\u540D\u5B57]\n[\u60A8\u7684\u804C\u4F4D]\n[\u516C\u53F8\
            \u540D\u79F0]\n[\u8054\u7CFB\u7535\u8BDD]\n[\u7535\u5B50\u90AE\u7BB1]\n\
            \n\u6700\u540E\u4E00\u6BB5\u8BDD\u5FC5\u987B\u5305\u542B\u6210\u529F\u6216\
            \u5931\u8D25\u5176\u4E2D\u4E00\u4E2A\u5173\u952E\u8BCD\u3002\n\n"
        selected: false
        title: LLM
        type: llm
        vision:
          configs: null
          enabled: false
          variable_selector: null
      height: 173
      id: llm
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: true
      type: custom
      width: 244
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: ANSWER
        type: answer
      height: 106
      id: answer
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: cbb14401-4418-4431-9ff9-eae8c803a479
            value: "\u6210\u529F"
            varType: string
            variable_selector:
            - llm
            - text
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: "\u6761\u4EF6\u5206\u652F"
        type: if-else
      height: 125
      id: '1721875085754'
      position:
        x: 984
        y: 282
      positionAbsolute:
        x: 984
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: "\u53D1\u9001\u5F55\u53D6\u901A\u77E5"
        desc: ''
        selected: false
        title: "\u76F4\u63A5\u56DE\u590D 2"
        type: answer
        variables: []
      height: 103
      id: '1721875200238'
      position:
        x: 1288
        y: 282
      positionAbsolute:
        x: 1288
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: "\u53D1\u9001\u5931\u8D25\u901A\u77E5"
        desc: ''
        selected: false
        title: "\u76F4\u63A5\u56DE\u590D 3"
        type: answer
        variables: []
      height: 103
      id: '1721875202908'
      position:
        x: 1288
        y: 408
      positionAbsolute:
        x: 1288
        y: 408
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -53
      y: -40.5
      zoom: 1
